[submodule "EpaperClock/ArduinoDrivers"]
	path = EpaperClock/ArduinoDrivers
	url = ../ArduinoDrivers.git
[submodule "EpaperClock/src/WaveshareEpaper"]
	path = EpaperClock/src/WaveshareEpaper
	url = ../libraries/WaveshareEpaper.git
[submodule "development/ClockSimulation/third_party/googletest"]
	path = development/ClockSimulation/third_party/googletest
	url = https://github.com/google/googletest.git
