[submodule "EpaperClock/ArduinoDrivers"]
	path = EpaperClock/ArduinoDrivers
	url = ../ArduinoDrivers.git
[submodule "EpaperClock/src/WaveshareEpaper"]
	path = EpaperClock/src/WaveshareEpaper
	url = ../libraries/WaveshareEpaper.git
